# Dependencies Loading

In [7]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd
import pickle
from joblib import dump, load

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_validate
from sklearn import metrics
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier

np.random.seed(2024)
pd.set_option("display.max_columns", 500)

## Loading models

In [8]:
lr = load('../models/Logistic_Regression.joblib')
knn = load('../models/KNeighborsClassifier.joblib')
clf = load('../models/SupportVectorClassification.joblib')
rf = load('../models/RandomForestClassifier.joblib')

## Loading test data

In [9]:
data_test = pd.read_csv('../input_data/fe_X_test.csv',index_col=0)
y_test = pd.read_csv('../input_data/y_test.csv',index_col=0)
sca_data_test = pd.read_csv('../input_data/scal_fe_X_test.csv',index_col=0)

In [10]:
data_test

,Customer_Age,Dependent_count,Education_Level,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Education_Level_NA,Income_Category_NA,Gender_M,MS_Married,MS_Single,ln_Total_Trans_Amt,ln_Credit_Limit,ln_Avg_Transaction,Avg_Transaction,Credit_utilization
0,56.0,2.0,0.0,0.0,0.0,42.0,4.0,2.0,2.0,3495.0,1427.0,2068.0,0.563,4466.0,85.0,0.889,0.408,0.0,0.0,False,False,False,8.404248,8.159089,3.961597,52.541176,0.149044
1,47.0,4.0,2.0,1.0,0.0,35.0,6.0,1.0,2.0,3560.0,751.0,2809.0,1.096,4060.0,79.0,0.975,0.211,0.0,0.0,False,False,False,8.308938,8.177516,3.939490,51.392405,0.066555
2,42.0,2.0,0.0,2.0,0.0,32.0,5.0,5.0,3.0,4708.0,0.0,4708.0,0.718,4597.0,89.0,0.679,0.000,0.0,1.0,False,False,False,8.433159,8.457018,3.944523,51.651685,0.178490
3,45.0,4.0,3.0,0.0,0.0,38.0,2.0,2.0,1.0,2396.0,887.0,1509.0,0.604,7480.0,84.0,0.787,0.370,0.0,0.0,False,False,False,8.919988,7.781556,4.489171,89.047619,0.514496
4,51.0,3.0,3.0,0.0,0.0,30.0,3.0,2.0,0.0,6006.0,1576.0,4430.0,0.504,3199.0,65.0,0.548,0.262,1.0,0.0,False,False,False,8.070594,8.700514,3.896206,49.215385,0.042792
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021,48.0,4.0,3.0,1.0,0.0,40.0,3.0,3.0,3.0,2300.0,1906.0,394.0,0.803,4538.0,71.0,0.868,0.829,0.0,1.0,False,False,False,8.420242,7.740664,4.157562,63.915493,0.472780
2022,37.0,2.0,1.0,0.0,0.0,28.0,5.0,2.0,1.0,7411.0,633.0,6778.0,0.762,2761.0,77.0,0.604,0.085,0.0,0.0,False,False,False,7.923348,8.910721,3.579543,35.857143,0.000000
2023,32.0,0.0,4.0,2.0,0.0,25.0,6.0,2.0,2.0,4469.0,2331.0,2138.0,1.006,8314.0,67.0,0.763,0.522,0.0,0.0,True,True,False,9.025696,8.404920,4.821004,124.089552,0.016989
2024,54.0,2.0,3.0,0.0,0.0,45.0,5.0,2.0,4.0,2683.0,1671.0,1012.0,0.784,1406.0,37.0,0.423,0.623,0.0,0.0,True,True,False,7.248504,7.894691,3.637586,38.000000,0.101143
2025,51.0,3.0,1.0,3.0,2.0,39.0,1.0,1.0,2.0,34516.0,1873.0,32643.0,0.629,7703.0,104.0,0.677,0.054,0.0,1.0,False,False,False,8.949365,10.449178,4.304974,74.067308,0.111810

In [11]:
y_test

      Attrition_Flag
8061               0
4318               0
7714               0
9015               0
3608               0
...              ...
7301               0
2566               0
9747               1
1692               0
8782               0

[2026 rows x 1 columns]

In [12]:
sca_data_test

,Customer_Age,Dependent_count,Education_Level,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Education_Level_NA,Income_Category_NA,Gender_M,MS_Married,MS_Single,ln_Total_Trans_Amt,ln_Credit_Limit,ln_Avg_Transaction,Avg_Transaction,Credit_utilization
0,1.282105,-0.298120,-1.662661,-1.055703,-0.254378,0.802416,0.270581,-0.514830,-0.635643,-0.542249,0.515630,-0.592564,-0.810789,0.185091,1.255258,1.024673,0.647128,-0.460763,-0.374219,-0.931313,-1.060200,-0.803399,0.558114,-0.428992,-0.320276,-0.399508,-0.288025
1,0.064089,1.349892,-0.090184,-0.282623,-0.254378,-0.142324,1.614713,-1.589744,-0.635643,-0.535132,-0.239953,-0.511467,1.756614,0.052646,0.985979,1.392904,-0.064285,-0.460763,-0.374219,-0.931313,-1.060200,-0.803399,0.413632,-0.409539,-0.382679,-0.442541,-0.585914
2,-0.612586,-0.298120,-1.662661,0.490456,-0.254378,-0.547213,0.942647,2.709912,0.316978,-0.409452,-1.079364,-0.303635,-0.064171,0.227826,1.434778,0.125504,-0.826254,-0.460763,3.073315,-0.931313,-1.060200,-0.803399,0.601940,-0.114472,-0.368473,-0.432829,-0.181687
3,-0.206581,1.349892,0.696055,-1.055703,-0.254378,0.262564,-1.073551,-0.514830,-1.588265,-0.662564,-0.087942,-0.653742,-0.613296,1.168316,1.210379,0.587934,0.509901,-0.460763,-0.374219,-0.931313,-1.060200,-0.803399,1.339930,-0.827548,1.168954,0.968022,1.031726
4,0.605430,0.525886,0.696055,-1.055703,-0.254378,-0.817139,-0.401485,-0.514830,-2.540887,-0.267351,0.682171,-0.334060,-1.094985,-0.228229,0.357660,-0.435406,0.119888,2.529741,-0.374219,-0.931313,-1.060200,-0.803399,0.052322,0.142583,-0.504860,-0.524092,-0.671730
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021,0.199425,1.349892,0.696055,-0.282623,-0.254378,0.532490,-0.401485,0.560084,0.316978,-0.673074,1.051020,-0.775770,0.345265,0.208579,0.626940,0.934756,2.167456,-0.460763,3.073315,-0.931313,-1.060200,-0.803399,0.582358,-0.870717,0.232891,0.026573,0.881078
2022,-1.289261,-0.298120,-0.876422,-1.055703,-0.254378,-1.087064,0.942647,-0.514830,-1.588265,-0.113535,-0.371844,-0.077089,0.147772,-0.371113,0.896219,-0.195628,-0.519300,-0.460763,-0.374219,-0.931313,-1.060200,-0.803399,-0.170889,0.364495,-1.398734,-1.024492,-0.826263
2023,-1.965936,-1.946132,1.482293,0.490456,-0.254378,-1.491953,1.614713,-0.514830,-0.635643,-0.435617,1.526054,-0.584903,1.323093,1.440383,0.447420,0.485171,1.058808,-0.460763,-0.374219,1.073753,0.943218,-0.803399,1.500174,-0.169472,2.105645,2.280691,-0.764911
2024,1.011435,-0.298120,0.696055,-1.055703,-0.254378,1.207304,0.942647,-0.514830,1.269600,-0.631144,0.788355,-0.708135,0.253744,-0.813140,-0.898977,-0.970625,1.423542,-0.460763,-0.374219,1.073753,0.943218,-0.803399,-1.193894,-0.708113,-1.234890,-0.944220,-0.461009
2025,0.605430,0.525886,-0.876422,1.263535,5.964245,0.397527,-1.745617,-1.589744,-0.635643,2.853851,1.014136,2.753641,-0.492874,1.241063,2.107976,0.116941,-0.631248,-0.460763,3.073315,-0.931313,-1.060200,-0.803399,1.384463,1.988623,0.649005,0.406860,-0.422488

# Models

## Logistic Regression

# Model comparision